body {
  background: rgb(246, 82, 82);
  background: linear-gradient(
    90deg,
    rgba(246, 82, 82, 1) 0%,
    rgba(244, 183, 22, 1) 100%
  );
  color: #fefefe;
  font-family: monospace;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
